<div class="container">
  <ng-include ng-show="spinner" src="'/views/parts/spinner.html'"></ng-include>
  <div class="row">
    <ul class="list-inline center-block text-center">
      <li ng-repeat="user in users">
          <div class="panel panel-default">
              <div class="panel-body">
                <a href="{{user.html_url}}" target="_blank">
                  <img ng-src="{{user.avatar_url}}" err-src="https://github.com/identicons/{{user.login}}.png" class="img-responsive center-block user-img">
                </a>
                <a href="{{user.html_url}}" target="_blank">{{user.login}}</a>
                <br>
                {{user.contributions}} Contribuições
             </div>
          </div>
      </li>
    </ul>
  </div>
</div>