<div class="container">
  <div class="row">

    <div class="jumbotron">
      <p>Awesome BR é uma coleção de links nas mais diversas tecnologias, mantido pela comunidade e para a comunidade. Você pode contribuir livremente com novos links, basta seguir as <a href="https://github.com/awesome-br/awesome-br.github.io" target="_blank">instruções aqui</a></p>
    </div>

    <ng-include src="'/views/parts/form.html'"></ng-include>
  </div>

   <ng-include src="'/views/parts/loop-itens.html'"></ng-include>
</div>
