<div class="container">
  <div class="row">
  <div class="col-sm-12">
    <div class="jumbotron">
      <p class="container">Awesome BR é uma coleção de links nas mais diversas tecnologias, mantido pela comunidade e para a comunidade. Você pode contribuir livremente com novos links, basta seguir as <a href="https://github.com/awesome-br/awesome-br.github.io" target="_blank">instruções aqui</a></p>

      <a class="hidden-xs" href="https://github.com/awesome-br/awesome-br.github.io">
        <img alt="Fork Me" class="forkme-ribbon" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
      </a>

    </div>
  </div>

    <filter-form query="query" types="types" planceholder="'Pesquise pelas tecnologias disponíveis'"></filter-form>
  </div>

  <ng-include ng-show="spinner" src="'/views/parts/spinner.html'"></ng-include>
  <loop-itens itens="itens" query='query'></loop-itens>
</div>
