<!DOCTYPE html>
<html lang="en" ng-app="awesome">

<head>
    <meta charset="UTF-8">
    <title>Awesome BR</title>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/css/main.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=""><b>Laravel</b></a> 
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="nav navbar-nav navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav ">
                    <li>
                    	<a href="/index.html">Voltar</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container" ng-controller="filterFormController">
    	<div class="row">
    		<form class="col-md-12" id="form-filter">

                <ol class="breadcrumb">
                      <li><a href="/">Home</a></li>
                      <li>Laravel</li>
                  </ol> 

                <div class="form-group has-feedback">
                  <input type="search"
                  ng-model="query"
                  class="form-control input-lg"
                  placeholder="Pesquise por títulos, tags ou categorias...">

                  <span ng-show="query" ng-click="setFilter('')" class="clear-filter form-control-feedback">Limpar</span>
              </div>

          </form>
      </div>
      <div class="row" ng-show="filteredItens.length" isotope-container="isotope-container">
        <div class="col-md-4"
        ng-repeat="item in filteredItens = (itens | filter:query)"
        isotope-item="isotope-item">
        <div class="widget">
            <a class="label label-default"
            title="Clique para filtrar"
            ng-click="setFilter(item.type)">
            {{ item.type }}
        </a>
        <!-- /.label -->
        <a href="{{ item.url }}" target="_blank" class="title">{{ item.name }}</a>
        <footer>
            <a class="label label-warning"
            title="Clique para filtrar"
            ng-click="setFilter(tag)"
            ng-repeat="tag in item.tags">
            {{ tag }}
        </a>
    </footer>
</div>
<!-- /.widget -->
</div>
</div>
<div ng-hide="filteredItens.length" class="text-center">
    Oops, nada encontrado.
</div>
</div>

<a href="https://github.com/awesome-br/awesome-br.github.io">
    <img class="forkme-ribbon" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png">
</a>


<script src="/vendor/js/jquery.min.js"></script>
<script src="/vendor/js/isotope.pkgd.min.js"></script>
<script src="/vendor/js/geopattern.min.js"></script>
<script src="/vendor/js/bootstrap.min.js"></script>
<script src="/vendor/js/angular.min.js"></script>
<script src="/vendor/js/angular-isotope.min.js"></script>
<script src="/vendor/js/app.js"></script>
</body>

</html>
