<div class="row" ng-show="filteredItens.length" isotope-container="isotope-container">
  <div class="col-md-4"
        ng-repeat="item in filteredItens = (itens | filter:query)"
        isotope-item="isotope-item">
    <div class="widget">
      <a class="label label-default"
          title="Clique para filtrar"
          ng-click="setFilter(item.type)">
        {{ item.type }}
      </a>
      <!-- /.label -->
      <a href="{{ item.url }}" target="_blank " class="title">{{ item.name }}</a>
      <footer>
        <a class="label label-warning pull-left"
            title="Clique para filtrar"
            ng-click="setFilter(tag)"
            ng-repeat="tag in item.tags">
              {{ tag }}
        </a>
      </footer>
    </div>
    <!-- /.widget -->
  </div>
</div>

<div ng-hide="filteredItens.length" class="text-center">
  Oops, nada encontrado.
</div>
